@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --top-section-height: 60%;
  --bottom-section-height: 40%;
}

/* 
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
  2. Remove defualt margin
*/
* {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
}

/* 
  3. Allow percentage-based heights in the application
*/

html,
body {
  overscroll-behavior: none;
}

html {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  overscroll-behavior-y: none;
  min-height: 100%;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* prevent body from scrolling */
.no-scroll {
  overflow-y: hidden;
  height: 100vh;
}

.hero-section {
  position: relative;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 3.5em 2em;
  display: flex;
  align-items: center;
}

nav .menu-button {
  position: absolute;
}

nav .icon {
  margin: 0 auto;
}

nav .links {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: end;
}

nav .link {
  margin: 0 0.75em;
  font-size: 1rem;
  font-weight: 600;
}

nav .link:last-child {
  margin-right: 0;
}

.open-nav {
  background: white;
  z-index: 3;
}

.overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: hsl(0, 0%, 24%);
  opacity: 0.75;
  z-index: 2;
}

.slider {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: black;
  width: 100px;
  height: 50px;
}

.hidden {
  display: none;
}

.slider button {
  background: transparent;
  border: hidden;
  outline-color: white;
  height: 100%;
}

.arrow {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow img {
  width: 12px;
  height: 12px;
}

.about,
.mission {
  background-color: white;
  padding: 4em 2em;
}

.mission {
  min-height: 400px;
}

.mission h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.mission p {
  min-height: 170px;
}

.mission .cta {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  /* word-spacing: 1rem; */
  letter-spacing: 0.75rem;
  text-transform: uppercase;
  padding: 0;
  margin-top: 2em;
}

.mission button .icon {
  height: 100%;
  margin-left: 1rem;
}

/* .image-container img {
  width: 100%;
  height: auto;
} */

.pic {
  width: 100%;
  height: auto;
}

#dark,
#light {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

#dark {
  background-image: url("./images/image-about-dark.jpg");
}

#light {
  background-image: url("./images/image-about-light.jpg");
}

.about h4 {
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1.5em;
}

p {
  color: hsl(0, 0%, 63%);
  font-size: 1rem;
}

/* active state */
.arrow:hover {
  background-color: hsl(0, 0%, 24%);
  cursor: pointer;
}

.mission button:hover {
  opacity: 0.5;
  cursor: pointer;
}

nav .menu-button:hover {
  box-shadow: 0 0 2em white;
  cursor: pointer;
}

nav.open-nav .menu-button:hover {
  box-shadow: 0 0 2em hsl(0, 0%, 64%);
}

nav .link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 0.5rem;
}

@media (min-width: 500px) {
  img {
    aspect-ratio: 16/9;
  }

  #dark,
  #light {
    min-height: 400px;
  }
}

@media (min-width: 700px) {
  .about,
  .mission {
    padding: 3em; /*fixed here*/
  }
  nav {
    padding: 3.5em 5em;
  }
}

@media (min-width: 800px) {
  .about {
    padding: 3em 5em;
  }

  .desktop-nav ul {
    justify-content: left;
    color: white;
  }

  nav .link:hover {
    text-decoration-color: white;
  }
}

@media (min-width: 1000px) {
  body {
    height: 100vh;
  }

  .hero-section {
    grid-area: hero;
  }

  .mission {
    grid-area: mission;
  }

  .mission {
    padding: 7em;
    display: grid;
    position: relative;
  }

  .mission p {
    margin-bottom: 2em;
    min-height: 100px;
  }

  .mission .icon {
    width: 50px;
    height: 25px;
  }

  .about-section {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
  }

  .hero-mission-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "hero hero hero hero hero hero hero mission mission mission mission mission";
  }

  #dark {
    grid-column: span 7;
  }

  #light {
    grid-column: span 7;
  }

  .about {
    grid-column: span 10;
  }

  .about-section > * {
    width: 100%;
  }

  .hero-mission-container {
    height: var(--top-section-height);
  }

  .pic {
    height: 100%;
  }

  .about-section {
    height: var(--bottom-section-height);
  }

  .second-slider {
    left: 0;
    width: 30%;
  }

  #dark,
  #light {
    min-height: auto;
  }

  .about p {
    min-height: 170px;
  }
}
